li#accordion-section-header_image {
  /* display: none !important; */
}

#customize-theme-controls li#accordion-panel-st-blog-homepage-panel h3 {
  background-color: #1492ce;
  border-color: #0073aa;
  color: #ffffff;
}
#customize-theme-controls li#accordion-panel-st-blog-homepage-panel h3:after {
  color: #ffffff;
}
#customize-theme-controls li#accordion-panel-st-blog-homepage-panel h3:hover {
  background-color: #0073aa;
  border-left-color: #0073aa;
}
#customize-theme-controls li#accordion-panel-st-blog-homepage-panel h3 .button {
  background-color: rgba(44, 121, 44, 0.3);
}
#customize-theme-controls li#accordion-panel-st-blog-homepage-panel h3 .button:hover {
  background-color: rgba(44, 121, 44, 0.6);
}

#customize-controls #customize-theme-controls .control-section-st-blog h3.accordion-section-title {
  background-color: #FFC107;
  border-left-color: #FFC107;
  text-align: center;
  padding-top: 13px;
}
#customize-controls #customize-theme-controls .control-section-st-blog h3.accordion-section-title a.cusbtn {
  background-color: #009688;
  border-color: #009688;
  color: #ffffff;
  margin-left: 0;
}
#customize-controls #customize-theme-controls .control-section-st-blog h3.accordion-section-title a.cusbtn:hover {
  background-color: #008679;
}

.customize-control-checkbox input[type=checkbox] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 40px;
  height: 14px;
  border-radius: 8px;
  background: #ccc;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: background 350ms ease;
}

.customize-control-checkbox input[type=checkbox]:before,
.customize-control-checkbox input[type=checkbox]:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -3px;
  transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
}

.customize-control-checkbox input[type=checkbox]:before {
  background: rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -50%, 0) scale(0);
}

.customize-control-checkbox input[type=checkbox]:after {
  background: #EF3F3D;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -50%, 0);
}

.customize-control-checkbox input[type=checkbox]:checked:before {
  background: transparent;
  font-size: 0;
  line-height: 1px;
  transform: translate3d(100%, -50%, 0) scale(1);
}

.customize-control-checkbox input[type=checkbox]:checked:after {
  background: #1492ce;
  transform: translate3d(100%, -50%, 0);
}

.customize-control-radio-image input {
  vertical-align: top;
  margin-top: 13px;
  margin-right: 5px;
  display: none;
}

.customize-control-radio-image input:checked + span img {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #3498DB;
}

.from-page-selected .customize-control-category_dropdown {
  display: none !important;
}

.from-category-selected .customize-control-dropdown-pages {
  display: none !important;
}

/*# sourceMappingURL=editor-style.css.map */
