#customize-controls .control-section-multipurpose_magazine .accordion-section-title:hover,
#customize-controls .control-section-multipurpose_magazine .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-multipurpose_magazine .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-multipurpose_magazine .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

/*Customizer*/

#customize-controls img {
    margin-right: 12px;
    margin-top: 15px;
}

/*---- Button Input CSS ----*/
li#customize-control-multipurpose_magazine_top_button_padding,
li#customize-control-multipurpose_magazine_bottom_button_padding,
li#customize-control-multipurpose_magazine_left_button_padding,
li#customize-control-multipurpose_magazine_right_button_padding,
li#customize-control-multipurpose_magazine_product_top_padding,
li#customize-control-multipurpose_magazine_product_bottom_padding,
li#customize-control-multipurpose_magazine_product_left_padding,
li#customize-control-multipurpose_magazine_product_right_padding,
li#customize-control-multipurpose_magazine_product_button_top_padding,
li#customize-control-multipurpose_magazine_product_button_bottom_padding,
li#customize-control-multipurpose_magazine_product_button_left_padding,
li#customize-control-multipurpose_magazine_product_button_right_padding,
li#customize-control-multipurpose_magazine_product_sale_top_padding,
li#customize-control-multipurpose_magazine_product_sale_bottom_padding,
li#customize-control-multipurpose_magazine_product_sale_left_padding,
li#customize-control-multipurpose_magazine_product_sale_right_padding{
	clear: none;
	width: 22%;
	margin-right: 10px;
	text-align: center;
}
li#customize-control-multipurpose_magazine_right_button_padding,
li#customize-control-multipurpose_magazine_product_right_padding,
li#customize-control-multipurpose_magazine_product_button_right_padding,
li#customize-control-multipurpose_magazine_product_sale_right_padding,
li#customize-control-multipurpose_magazine_product_right_padding{
	margin: 0;
}
li#customize-control-multipurpose_magazine_top_button_padding label,
li#customize-control-multipurpose_magazine_bottom_button_padding label,
li#customize-control-multipurpose_magazine_left_button_padding label,
li#customize-control-multipurpose_magazine_right_button_padding label{
	font-weight: 500;
	font-size: 13px;
}
input#_customize-input-multipurpose_magazine_button_padding,
input#_customize-input-multipurpose_magazine_product_padding,
input#_customize-input-multipurpose_magazine_product_button_padding,
input#_customize-input-multipurpose_magazine_product_sale_padding{
	display: none;
}
li#customize-control-multipurpose_magazine_button_padding,
li#customize-control-multipurpose_magazine_product_padding,
li#customize-control-multipurpose_magazine_product_button_padding,
li#customize-control-multipurpose_magazine_product_sale_padding{
	margin-bottom: 0px;
}

li#customize-control-multipurpose_magazine_product_border_radius,
li#customize-control-multipurpose_magazine_products_per_row,
li#customize-control-multipurpose_magazine_product_button_border_radius{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/*---- Input Range CSS ----*/
input[type="range"] {
	-webkit-appearance: none;
    width: 80%;
    margin: 12px 0;
    background: #fff;
    height: 6px;
}
input[type="range"]:focus{
	outline: 0;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 12px;
	border-radius: 20px;
	background: #0073aa;
	cursor: pointer;
	box-shadow: 1px 1px 4px #5c5757;
}
.cs-range-value {
    float: right;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #7e8993;
}

/*---- coyright Input CSS ----*/
li#customize-control-multipurpose_magazine_bottom_topbar_padding,
li#customize-control-multipurpose_magazine_top_topbar_padding,
li#customize-control-multipurpose_magazine_top_copyright_padding,
li#customize-control-multipurpose_magazine_bottom_copyright_padding,
li#customize-control-multipurpose_magazine_top_sticky_header_padding,
li#customize-control-multipurpose_magazine_bottom_sticky_header_padding{
	width: 46%;
	margin-right: 10px;
	clear: none;
}
input#_customize-input-multipurpose_magazine_topbar_padding,
input#_customize-input-multipurpose_magazine_copyright_padding {
    display: none;
}
li#customize-control-multipurpose_magazine_topbar_padding,
li#customize-control-multipurpose_magazine_copyright_padding{
	margin:0;
}
label.customize-control-title{
	clear: both;
}
span#_customize-description-multipurpose_magazine_top_topbar_padding,
span#_customize-description-multipurpose_magazine_bottom_topbar_padding,
span#_customize-description-multipurpose_magazine_top_copyright_padding,
span#_customize-description-multipurpose_magazine_bottom_copyright_padding,
span#_customize-description-multipurpose_magazine_top_sticky_header_padding,
span#_customize-description-multipurpose_magazine_bottom_sticky_header_padding{
    font-weight: 600;
}