.block-editor-block-list__block .wp-block-latest-posts, .block-editor-block-list__block ul {
  padding-left: 0; }

.block-editor-block-list__block .wp-block-latest-posts.is-grid {
  margin-left: 0;
  list-style-type: none; }

.block-editor-block-list__block ul {
  list-style-type: circle; }

.block-editor-block-list__block .form-control:disabled, .block-editor-block-list__block .form-control[readonly], .block-editor-block-list__block .wp-block-archives-dropdown select:disabled, .block-editor-block-list__block .wp-block-archives-dropdown select[readonly], .block-editor-block-list__block .wp-block-categories-dropdown select:disabled, .block-editor-block-list__block .wp-block-categories-dropdown select[readonly], .block-editor-block-list__block .wp-block-search input:disabled, .block-editor-block-list__block .wp-block-search input[readonly], .block-editor-block-list__block .wpcf7 .wpcf7-validation-errors:disabled, .block-editor-block-list__block .wpcf7 .wpcf7-validation-errors[readonly], .block-editor-block-list__block .wpcf7 input:disabled[type=color], .block-editor-block-list__block .wpcf7 input:disabled[type=date], .block-editor-block-list__block .wpcf7 input:disabled[type=datetime-local], .block-editor-block-list__block .wpcf7 input:disabled[type=datetime], .block-editor-block-list__block .wpcf7 input:disabled[type=email], .block-editor-block-list__block .wpcf7 input:disabled[type=file], .block-editor-block-list__block .wpcf7 input:disabled[type=month], .block-editor-block-list__block .wpcf7 input:disabled[type=number], .block-editor-block-list__block .wpcf7 input:disabled[type=range], .block-editor-block-list__block .wpcf7 input:disabled[type=search], .block-editor-block-list__block .wpcf7 input:disabled[type=submit], .block-editor-block-list__block .wpcf7 input:disabled[type=tel], .block-editor-block-list__block .wpcf7 input:disabled[type=text], .block-editor-block-list__block .wpcf7 input:disabled[type=time], .block-editor-block-list__block .wpcf7 input:disabled[type=url], .block-editor-block-list__block .wpcf7 input:disabled[type=week], .block-editor-block-list__block .wpcf7 input[readonly][type=color], .block-editor-block-list__block .wpcf7 input[readonly][type=date], .block-editor-block-list__block .wpcf7 input[readonly][type=datetime-local], .block-editor-block-list__block .wpcf7 input[readonly][type=datetime], .block-editor-block-list__block .wpcf7 input[readonly][type=email], .block-editor-block-list__block .wpcf7 input[readonly][type=file], .block-editor-block-list__block .wpcf7 input[readonly][type=month], .block-editor-block-list__block .wpcf7 input[readonly][type=number], .block-editor-block-list__block .wpcf7 input[readonly][type=range], .block-editor-block-list__block .wpcf7 input[readonly][type=search], .block-editor-block-list__block .wpcf7 input[readonly][type=submit], .block-editor-block-list__block .wpcf7 input[readonly][type=tel], .block-editor-block-list__block .wpcf7 input[readonly][type=text], .block-editor-block-list__block .wpcf7 input[readonly][type=time], .block-editor-block-list__block .wpcf7 input[readonly][type=url], .block-editor-block-list__block .wpcf7 input[readonly][type=week], .block-editor-block-list__block .wpcf7 select:disabled, .block-editor-block-list__block .wpcf7 select[readonly], .block-editor-block-list__block .wpcf7 textarea:disabled, .block-editor-block-list__block .wpcf7 textarea[readonly] {
  background-color: #fff; }

select.disabled, select:disabled {
  text-shadow: none; }

select {
  background-color: #fff; }

select option {
  color: #495057; }

.block-editor-block-list__block ol {
  padding-left: 0;
  margin-left: 0; }

.wp-block-search__button {
  background: #1c1e26;
  color: #fff;
  border: 1px solid #1c1e26;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  padding: 6px 10px; }

#secondary img, article img, figure, .editor-styles-wrapper img, img.wp-post-image {
  max-width: 580px; }

figure.wp-block-image:not(.wp-block) {
  margin: 0 auto; }

.wp-block-quote {
  padding: 0;
  border: none; }

.is-style-outline .wp-block-button__link {
  background: #fff; }

.wp-block-pullquote__citation, .wp-block-pullquote cite, .wp-block-pullquote footer {
  text-transform: none; }

figure.wp-block-pullquote:not(.is-style-solid-color) {
  background: #fff; }

.wp-block-quote__citation, .wp-block-pullquote__citation, .wp-block-pullquote cite, .wp-block-pullquote footer {
  font-size: 1rem;
  font-style: italic; }

.wpview.wpview-wrap dl.gallery-item {
  width: auto; }
